.header {
    @include fluid2(10, 25, 0, 0, 'padding');
    border-bottom: 1px solid #F4F4F4;
    background: white;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__burger {}
    &__logo {
        margin-left: 20px;
    }
    &__nav {
        margin-left: 40px;
    }
    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__item {
        &_lang {
            display: flex;
            gap: 10px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 13px;
        &_lang {
            position: relative;
            color: black;
            pointer-events: all;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 2px;
                background: black;
                height: 1px;
            }
        }
        &_active {
            pointer-events: none;
            color: #808080;
            &::before {
                content: none;
            }
        }
    }
    &__right {}
    &__icon {
        color: black;
        path {
            fill: black;
        }
    }
}

@include media($tablet) {
    .header {
		&__container {}
		&__left {}
		&__burger {}
		&__link {}
		&__logo {}
		&__nav {}
		&__menu {
            &_tablet-hidden {
                display: none;
            }
        }
		&__item {}
		&__right {}
    }
}   