.hero {
    &__container {}
    &__title {
        @include fluid(36, 72, 'font-size');
        @include fluid4(30, 60, 0, 0, 15, 20, 0, 0, 'margin');
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
    }
    &__filter {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        gap: 10px;
    }
    &__filter-input {
        flex-grow: 1;
    }
    &__btn {}
}

@include media($tablet) {
    .hero {
        &__filter-input {
            flex-direction: column;
            gap: 5px;
        }
    }
}   


@include media($mobile) {
    .hero {
        &__mobile-btn {
            margin-top: 20px;
        }
    }
}   