<div class="accordeon" uk-accordion="multiple: true">
    <div class="accordeon__group">
        <a class="uk-accordion-title accordeon__header" href="#">
            <span class="accordeon__title">Оплата и депозит</span>
            <div class="accordeon__plus">
                <div class="accordeon__plus-line"></div>
                <div class="accordeon__plus-line"></div>
            </div>
        </a>
        <div class="uk-accordion-content accordeon__content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia ullam eum, possimus culpa asperiores accusantium voluptas eveniet, magnam tenetur totam in suscipit reprehenderit, fugit sunt maiores rem quidem cupiditate?</p>
        </div>
    </div>
    <div class="accordeon__group">
        <a class="uk-accordion-title accordeon__header" href="#">
            <span class="accordeon__title">Заселение и правила поведения</span>
            <div class="accordeon__plus">
                <div class="accordeon__plus-line"></div>
                <div class="accordeon__plus-line"></div>
            </div>
        </a>
        <div class="uk-accordion-content accordeon__content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia ullam eum, possimus culpa asperiores accusantium voluptas eveniet, magnam tenetur totam in suscipit reprehenderit, fugit sunt maiores rem quidem cupiditate?</p>
        </div>
    </div>
    <div class="accordeon__group">
        <a class="accordeon__header" href="/">
            <span class="accordeon__title">Все условия бронирования и оплаты</span>
            <div class="accordeon__link">
                <img src="@img/icons/link.svg" class="accordeon__link-icon">
            </div>
        </a>
    </div>
</div>