<a href="#" class="product" data-bedrooms="@@bedrooms">
    <div class="swiper product__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@@image" class="product__image">
            </div>
            <div class="swiper-slide">
                <img src="@img/banner.jpg" class="product__image">
            </div>
            <div class="swiper-slide">
                <img src="@img/product3.jpg" class="product__image">
            </div>
        </div>

        <div class="swiper-pagination product__pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="product__info">
        <div class="product__row">
            <span class="product__title">@@title</span>
            <div class="product__price-wrapper">
                <span class="product__price">от @@price <span class="product__old-price">@@sale</span></span>
                <span class="product__price-text">бат/сутки</span>
            </div>
            <div class="product__props">
                <div class="product__prop">
                    <img src="@img/icons/routing.svg" class="product__prop-icon">
                    <span class="product__prop-text">Surin Beach</span>
                </div>
                <div class="product__prop">
                    <img src="@img/icons/sun.svg" class="product__prop-icon">
                    <span class="product__prop-text">750 м</span>
                </div>
            </div>
            <div class="product__props">
                <div class="product__prop product__prop_right">
                    <img src="@img/icons/resize.svg" class="product__prop-icon">
                    <span class="product__prop-text">40 м<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="product__row">
            <span class="product__text">Подойдёт для</span>
            <span class="product__text product__text_right">2-3</span>
            <span class="product__text">Вид</span>
            <span class="product__text product__text_right">Бассейн</span>
        </div>
        <div class="product__row">
            <div class="product__prop">
                <img src="@img/icons/snicker.svg" class="product__prop-icon">
                <span class="product__prop-text">10 минут</span>
            </div>
            <span class="product__text product__text_light product__text_right">пляж Карон</span>
    
            <div class="product__prop">
                <img src="@img/icons/car.svg" class="product__prop-icon">
                <span class="product__prop-text">15 минут</span>
            </div>
            <span class="product__text product__text_light product__text_right">Патонг</span>
    
            <div class="product__prop">
                <img src="@img/icons/car.svg" class="product__prop-icon">
                <span class="product__prop-text">60 минут</span>
            </div>
            <span class="product__text product__text_light product__text_right">Международный Аэропорт Пхукет</span>
        </div>
    </div>
    @@tag
</a>