<div class="review">
    <div class="review__avatar-wrapper">
        <img src="@@img" class="review__avatar-img">
        <div class="review__info">
            <span class="review__name">@@name</span>
            <span class="review__date">10 февраля 2024</span>
        </div>
    </div>
    <div class="review__stars">
        <img src="@img/icons/star.svg" class="review__star">
        <img src="@img/icons/star.svg" class="review__star">
        <img src="@img/icons/star.svg" class="review__star">
        <img src="@img/icons/star.svg" class="review__star">
        <img src="@img/icons/star.svg" class="review__star">
    </div>
    <span class="review__text">Lorem ipsum dolor sit amet consectetur. Adipiscing ipsum volutpat porta Lorem ipsum dolor sit amet consectetur</span>
    @@include('../utils/link-out.html', {
        'text': 'Яндекс.Карты',
        'class': 'review__link',
    })
</div>