<div class="review review_more">
    <span class="review__more-title">Посмотреть<br>больше отзывов</span>
    <span class="review__more-text">Lorem ipsum dolor sit amet consectetur.<br>Adipiscing ipsum volutpat porta elit </span>
    <div class="review__map-links">
        <a href="#" class="review__map-link">
            <img src="@img/icons/yandex-map.png" class="review__map-link-image">
            <div class="review__stars">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
            </div>
        </a>
        <a href="#" class="review__map-link">
            <img src="@img/icons/trip-advisor.png" class="review__map-link-image">
            <div class="review__stars">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
                <img src="@img/icons/star.svg" class="review__star">
            </div>
        </a>
    </div>
</div>