<div class="swiper @@class">
    <div class="swiper-wrapper" uk-lightbox>
        <div class="swiper-slide slideshow__slide">
            <a href="@@image1" class="slideshow__link">
                <img src="@@image1" alt="" class="slideshow__img">
            </a>
        </div>
        <div class="swiper-slide slideshow__slide">
            <a href="@@image2" class="slideshow__link">
                <img src="@@image2" alt="" class="slideshow__img">
            </a>
        </div>
        <div class="swiper-slide slideshow__slide">
            <a href="@@image3" class="slideshow__link">
                <img src="@@image3" alt="" class="slideshow__img">
            </a>
        </div>
        <div class="swiper-slide slideshow__slide">
            <a href="@@image4" class="slideshow__link">
                <img src="@@image4" alt="" class="slideshow__img">
            </a>
        </div>
    </div>
    <div class="swiper-button-prev slideshow__nav slideshow__nav_prev">
        <img src="@img/icons/slider-arrow.svg" class="slideshow__nav-arrow" uk-svg>
    </div>
    <div class="swiper-button-next slideshow__nav slideshow__nav_next">
        <img src="@img/icons/slider-arrow.svg" class="slideshow__nav-arrow" uk-svg>
    </div>
</div>